body{
    width:100%;
    margin:0;
    padding:0;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family:'roboto', sans-serif;
}
.nav-links{
    color:black;
    text-decoration:none;
    padding: 40px;
}

.edges{
    width:90%;
    margin:auto;
}